@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #F9FFE7;
  margin: 0%;
}

.texto {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.titulo {
  font-weight: bold;
  font-size: large;
}

.texto-nav {
  font-size: 2rem;
}

.btn-back {
  display: inline-flex;
  padding: 1% 2%;
  position: fixed;
  bottom: 1%;
  right: 1%;
}
.btn-back:hover {
  opacity: 70%;
}

.link-none {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.box-logo {
  width: 7%;
  margin: 0 2%;
}

.logo {
  width: 100%;
}

.bg-body-tertiary {
  background-color: #F9FFE7 !important;
}

.header-title {
  width: 100%;
  justify-content: center;
}

.box-index {
  background-color: rgba(128, 128, 0, 0.7);
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-index-small {
  background-color: rgba(209, 151, 63, 0.7);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble {
  display: flex;
  width: 100%;
}

.bubble-2 {
  justify-content: end;
}

.bubble-4 {
  justify-content: end;
}

.texto-bubble {
  text-decoration: none;
  margin: 20%;
}

.img-bubble {
  width: 60%;
  height: 40%;
  border-radius: 3rem;
}

.box-index-small-1 {
  position: relative;
  right: 2vw;
  bottom: 3vw;
}

.box-index-small-2 {
  position: relative;
  left: 4vw;
  top: 10vw;
}

.box-index-small-3 {
  position: relative;
  right: 2vw;
  top: 3vw;
}

.box-index-small-4 {
  position: relative;
  left: 6vw;
  bottom: 4vw;
}

.intro-index {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 3rem;
}

.intro-index-titulo {
  width: 100%;
  justify-content: initial;
}

.boton-cata {
  margin-right: 5rem;
}

.formulario {
  margin: 5%;
}

.form-2 {
  display: flex;
  margin-bottom: 2%;
}
.form-2 .form-select {
  width: 20%;
  margin: 0% 5%;
}

.filtro {
  display: inline-flex;
}

.box-filtro {
  padding: 0px 10px;
  margin: 10px 10px;
}

.box-filtro-selec {
  color: #808008;
}

.form-check-input:checked {
  background-color: #808008;
  border-color: #51fd0d;
}

.boton {
  background-color: #808008;
  padding: 10px;
  border: 2px solid gray;
  box-shadow: 2px 2px 3px gray;
  text-decoration: none;
  color: #F9FFE7;
}
.boton:hover {
  opacity: 70%;
}

.cata {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 5%;
  margin: 5%;
}

.box {
  background-color: white;
  border: 2px solid gray;
  box-shadow: 3px 3px 4px gray;
  height: 23rem;
  width: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 90%;
}
.box-img {
  width: 90%;
  height: 40%;
  margin: 5% 5%;
}
.box-est {
  height: 100%;
  margin: 0% 5%;
}
.box-tit {
  height: 100%;
  margin: 0% 5%;
}
.box-txt {
  height: 100%;
  margin: 0% 5%;
}
.box:hover {
  transition: 1s;
  box-shadow: 8px 8px 5px rgb(92, 92, 92);
  opacity: 100%;
}

.img-cata-estrella {
  width: 10%;
}

.img-cata {
  width: 100%;
}

.info-cont-box {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 65%;
}

.exp {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 18rem 2rem 5rem 2rem 2rem 100%;
  grid-template-areas: "carro mapa" "titl mapa" "com mapa" "nivel mapa" "conteo mapa" "opinion opinion";
}
.expcont1 {
  grid-area: carro;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expcont2 {
  grid-area: mapa;
}
.expcont3 {
  grid-area: titl;
}
.expcont4 {
  grid-area: com;
}
.expcont5 {
  grid-area: nivel;
}
.expcont6 {
  grid-area: conteo;
}
.expcont6 .img-exp-estrella {
  width: 4%;
  height: 4%;
}
.expcont7 {
  grid-area: opinion;
}

@media (width <= 800px) {
  .cata {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1%;
  }
  .box {
    height: 30rem;
  }
  .texto {
    font-size: small;
  }
  .box-index {
    width: 40vw;
    height: 40vw;
  }
  .box-index-small {
    width: 30vw;
    height: 30vw;
  }
  .exp {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: 15rem 2rem 8rem 2rem 2rem 20rem 100%;
    grid-template-areas: "carro" "titl" "com" "nivel" "conteo" "mapa" "opinion";
  }
  .expcont2 {
    grid-area: mapa;
    height: 20rem;
  }
  iframe {
    width: 80vw;
    height: 80vw;
  }
}
@media (800px < width) and (width < 950px) {
  .cata {
    grid-template-columns: repeat(3, 1fr);
  }
  .box {
    height: 25rem;
  }
}
@media (width >= 950px) {
  .cata {
    grid-template-columns: repeat(4, 1fr);
  }
  .box {
    height: 28rem;
  }
}

/*# sourceMappingURL=main.css.map */
