header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.box-logo{
    width: 7%;
    margin: 0 2%;

    animation-duration: 4s;
    animation-name: rotar;
    animation-iteration-count: infinite;
}
.logo{
    width: 100%;
}

.bg-body-tertiary{
    background-color: #F9FFE7 !important;
}


.header-title{
    width: 100%;
    justify-content: center;
}