.filtro{
    display: inline-flex;
}

.box-filtro{
    padding: 0px 10px;
    margin: 10px 10px;
}

.box-filtro-selec{
    color: #808008;
}

.form-check-input:checked {
    background-color: #808008;
    border-color: #51fd0d;
}

.boton{
    background-color: #808008;
    padding: 10px;
    border: 2px solid gray;
    box-shadow: 2px 2px 3px gray;
    text-decoration: none;
    color: #F9FFE7;
    &:hover{
        opacity: 70%;
    }
}

.cata{
    width: 90%;
    display: inline-flexbox;
}

.box{
    background-color: white;
    border: 2px solid gray;
    box-shadow: 3px 3px 4px gray;
    height: 23rem;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: 90%;
    &-img{
        width: 90%;
        height: 100%;
    }
    &-est{
        height: 100%;
        margin: 0% 5%;
    }
    &-tit{
        height: 100%;
        margin: 0% 5%;
    }
    &-txt{
        height: 100%;
        margin: 0% 5%;
    }
    &:hover{
        transition: 1s;
        box-shadow: 8px 8px 5px rgb(92, 92, 92);
        opacity: 100%;
    }
}

.img-cata-estrella{
    width: 10%;
}
.img-cata{
    width: 100%;
}


