.box-index{
    background-color: rgba(128, 128, 0, 0.7);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-index-small{
    background-color: rgba(209, 151, 63, 0.7);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble{
    display: flex;
    width: 100%;
}
.bubble-2{
    justify-content: end;
}
.bubble-4{
    justify-content: end;
}

.texto-bubble{
    text-decoration: none;
    margin: 20%;
}
.img-bubble{
    width: 60%;
    height: 40%;
    border-radius: 3rem;
    
}
.box-index-small-1{
    position: relative;
    right: 2vw;
    bottom: 3vw;
}
.box-index-small-2{
    position: relative;
    left: 4vw;
    top: 10vw;
}
.box-index-small-3{
    position: relative;
    right: 2vw;
    top: 3vw;
}
.box-index-small-4{
    position: relative;
    left: 6vw;
    bottom: 4vw;
}

.intro-index{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 3rem;
}
.intro-index-titulo{
    width: 100%;
    justify-content: initial;
    
}
.boton-cata{
    margin-right: 5rem;
}
