.box-index{
    background-color: rgba(128, 128, 0, 0.7);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-index-small{
    background-color: rgba(209, 151, 63, 0.7);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble{
    display: flex;
    width: 100%;
}
.bubble-2{
    justify-content: end;
}
.bubble-4{
    justify-content: end;
}

.texto-bubble{
    text-decoration: none;
    margin: 20%;
}
.img-bubble{
    width: 60%;
    height: 40%;
    border-radius: 3rem;
    
}
.box-index-small-1{
    position: relative;
    right: 3rem;
    bottom: 2rem;
}
.box-index-small-2{
    position: relative;
    left: 3rem;
    top: 8rem;
}
.box-index-small-3{
    position: relative;
    right: 2rem;
    top: 3rem;
}
.box-index-small-4{
    position: relative;
    left: 5rem;
    bottom: 3rem;
}

.intro-index{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 3rem;
}
.intro-index-titulo{
    width: 100%;
    justify-content: initial;
    
}
.boton-cata{
    margin-right: 5rem;
}
/*---------CARGA----------*/

/*---------CATALOGO----------*/
.filtro{
    display: inline-flex;
}

.box-filtro{
    padding: 0px 10px;
    margin: 10px 10px;
}

.box-filtro-selec{
    color: #808008;
}

.form-check-input:checked {
    background-color: #808008;
    border-color: #51fd0d;
}

.boton{
    background-color: #808008;
    padding: 10px;
    border: 2px solid gray;
    box-shadow: 2px 2px 3px gray;
    text-decoration: none;
    color: #F9FFE7;
}

.cata{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 5%;
    margin: 5%;
    
}

.box{
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    box-shadow: 3px 3px 4px gray;
    height: 23rem;
}
.box-img{
    width: 90%;
    height: 40%;
    margin: 5% 5%;
}
.img-cata{
    width: 100%;
}
.box-est{
    height: 10%;
    margin: 0% 5%;
}
.img-cata-estrella{
    width: 10%;
}
.box-tit{
    height: 20%;
    margin: 0% 5%;
}
.box-txt{
    height: 40%;
    margin: 0% 5%;
}